p {
  margin: 0;
}

body {
  min-width: 320px;
  font-size: 20px;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  min-height: 750px;

}

main {
  align-items: flex-start;
  padding-top: 20px;
  max-width: 1300px
}

.generic__row {
  margin: 20px 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.util__padding-top--medium {
  padding-top: 10vh;
}

@media only screen and (max-width: 600px) {

  .util__padding-top--medium {
    padding-top: 0;
  }
}
.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.machine__state-item__wrapper {
  -ms-flex: auto;
  position: relative;
  padding: 10px;
  margin: 20px;
  box-sizing: border-box;
  min-height:200px;
  min-width:252px;
  border: 3px solid black;
  border-radius:  8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.generic__button > button {
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  border: 2px solid black
}

.generic__button--success > button {
  background: lightgreen;
}

.generic__button--error > button {
  background: lightcoral;
}

.generic__button__submit > button:hover {
  background: lightgreen;
}

.generic__input {
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  border: 2px solid black;
  width: 50px
}

.active {
  background-color: lightgreen;
}

/* Not used */

.laceup__logo {
  display: inline-block
}

.laceup__banner__container {
  background:black;
}

.test {
  display:inline-flex
}

.laceup__banner__text {
  color:white;
  font-family: 'Heebo', sans-serif;
  font-size: 40px;
  margin: 0 20px;
}

.laceup__row {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  width: 100%;
}


.laceup__grid-item--2 {
  min-width: 320px;
  -ms-flex: auto;
  flex-basis: 50%;
  position: relative;
  padding: 10px;
  box-sizing: border-box;
}

.laceup__grid-item--3 {
  min-width: 250px;
  -ms-flex: auto;
  position: relative;
  padding: 20px;
  box-sizing: border-box;
}

.laceup__search__container {
  display: flex;
  align-items: center;
  justify-content: center;
  height:100%;
}

.laceup__search__search-box {
  max-width: 50%;
}

.laceup__race-tile__image {
  background-image: url('https://via.placeholder.com/150');
  background-size: cover;
  height: 75%;
}

.laceup__race-tile__info {
  height: 25%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: white;
  padding: 0 10px;
}

.laceup__race-tile__title {
  font-family: 'Roboto', sans-serif;
  text-align: left;
  font-size: 18px;
}

.laceup__race-tile__metrics-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  height: 100%;
}

.laceup__race-tile__metrics-segment {
  flex-basis: 33%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.laceup__race-tile__metrics-icon {
  width: 20px;
  margin-right: 5px
}

.laceup__search__search-box input {
  padding: 7px;
  border-radius: 5px;
  border: none;
}

.hvr-grow-shadow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow, transform;
  transition-property: box-shadow, transform;
}

.laceup__race-tile__container {
  border: 1px solid black;
  height: 250px;
  width: 230px;
  background: black;
}

.laceup__race-tile__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.laceup__footer__container {
  font-size: 10px
}

.hvr-grow-shadow:hover, .hvr-grow-shadow:focus, .hvr-grow-shadow:active {
  box-shadow: 0 5px 5px -5px rgba(0, 0, 0, 0.5);
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}

.ReactModal__Overlay {
  width: 100vw;
  min-width: 320px;
  opacity: 0;
  transition: opacity 200ms ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
  border: none;
  margin: none;
}

.ReactModal__Overlay--after-open{
  opacity: 1;
}

.ReactModal__Overlay--before-close{
  opacity: 0;
}

.laceup__modal__container {
  width: 100%;
  min-width: 250px;
  background: black;
  max-width: 600px;
}

.laceup__modal__image {
  background-image: url('https://via.placeholder.com/150');
  background-size: cover;
  height: 200px;
  width: 200px;
  margin: 20px
}

.laceup__modal__metrics-container {
  color: white;
  min-width: 250px;
  text-align:center;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  max-width: 300px
}
.laceup__modal__title {
  color:white;
  font-family: 'Heebo', sans-serif;
  font-size: 30px;
  margin: 0 20px;
  text-align: center;
}

.laceup__modal__metrics-segment {
  min-width: 150px;
  padding: 10px;
  display: flex;
}

.laceup__modal__metrics-text {
  text-align: left;
}

.laceup__modal__description-container {
  color: white;
  max-width: 500px;
  padding: 20px;
}

.laceup__modal__description-title {
  font-family: 'Heebo', sans-serif;
  font-size: 20px;
  padding-bottom: 10px;
}

.laceup__loader__container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}

.laceup__loader__icon {
  width: 60px;
  border: 10px solid black;
  border-radius: 5px;
}

.laceup__loader__icon--svg {
  stroke-dasharray: 30;
  width: 60px;
  height: 100px;
  border: 10px solid black;
  border-radius: 5px;
}

#laceup__loader__icon--svg--top {
  animation: draw--top 2s infinite;
}

#laceup__loader__icon--svg--middle {
  animation: draw--middle 2s infinite;
}

#laceup__loader__icon--svg--bottom {
  animation: draw--bottom 2s infinite;
}


@keyframes draw--bottom{
  0% {
    stroke-dashoffset: 30;
  }
  33% {
    stroke-dashoffset: 0;
  }
  66% {
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dashoffset: 0;

  }
}

@keyframes draw--middle{
  0% {
    stroke-dashoffset: 30;
  }
  33% {
    stroke-dashoffset: 30;
  }
  66% {
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dashoffset: 0;

  }
}

@keyframes draw--top{
  0% {
    stroke-dashoffset: 30;
  }
  33% {
    stroke-dashoffset: 30;
  }
  66% {
    stroke-dashoffset: 30;
  }
  100% {
    stroke-dashoffset: 0;

  }
}